<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Workshop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<h1>Hello there!</h1>

<p th:text="'I am Töhötöm, please tell me your name!'"></p>

<form action="#" th:action="@{/main}" th:object="${username}" method="post">
    <p> Your name: <input type="text" th:field="*{name}" /></p>
    <p> <input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

</body>
</html>